.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .offer {
    width: 90%;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
  }
  
  .offer:hover {
    background-color: #f0f0f0;
  }
  

  .offer h3{
    font-size: 0.75rem;
    font-weight: 500;

  }

    .offer p{
        font-size: 0.75rem;
        font-weight: 500;
        color: #4a4a4a;
    }
    