.service{
    display: flex;
    align-items: center;
    margin-block: 0.5rem;
    justify-content: space-between;
}

.service div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.service h4{
    font-size: 1rem;
    font-weight: 600;
}

.service p{
    font-size: 0.9rem;
    font-weight: 500;
    color: #545454;
}

.service button{
    padding: 0.3rem 1.1rem;
    border-radius: 10px;
    border: 1px solid #5b5b5b91;
    background-color: #ffffff;
    color: #0d0d0d;
    font-size: 0.65rem;
    font-weight: 500;
}

.selected{
    background-color: black !important;
    color: white !important;
}
