.field{
    display: flex;
   
    
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-inline: 1rem;

}

.filter{
    width: 90%;

    margin: 2rem auto ;
}

.field > div:nth-child(2){
    margin-block:0.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.field input{
    width: 100%;
    padding-left: 10px;
    
    background-color: white;
    border: none;
    font-size: 1rem;
    color: black;
}



.icon{
    font-size: 30px;
    display: flex;
    align-items: center;
}  

.buttons{
    display: flex;
    gap: 0.75rem;
    margin-top: 1rem;
}

.buttons button{
    padding: 7px 15px;
    color: #525252;
    background-color: white;
    border: 1px solid #3a3a3a;
    border-radius: 40px;
    cursor: pointer;
}

.buttons button:nth-child(1){
    display: flex;
    align-items: center;
    font-size: 25px;
}

.salons{
    width: 90%;
    margin: 2rem auto;
}

.salons h1{
    font-size: 1.5rem;
    margin-top: 5rem;
    text-align: center;
}

